* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

button {
    font: inherit;
}

:root {
    --font-shoulders: "Big Shoulders Display", cursive;
    --font-outfit: "Outfit", sans-serif;
}

html {
    background-color: #151515;
}

body {
    background-color: #fcfaf9;

    @media only screen and (min-width: 768px) {
        background-color: #fff;
    }
}

.h1 {
    font-family: "Big Shoulders Display";
    font-weight: 900;
    font-size: 60px;
    line-height: 55px;
    text-transform: uppercase;
    color: #151515;
    margin-bottom: 32px;

    span {
        display: block;
    }

    @media only screen and (min-width: 768px) {
        font-size: 70px;
        line-height: 65px;
        margin-bottom: 48px;
    }

    @media only screen and (min-width: 1200px) {
        font-size: 96px;
        line-height: 88px;
    }

    &--white {
        @media only screen and (min-width: 1200px) {
            display: block;
            color: #fff;
            width: 500px;
            margin-top: 189px;
        }
    }

    &--locate {
        @media only screen and (min-width: 1200px) {
            width: 500px;
            position: absolute;
            z-index: 2;

            top: -75px;
            left: -759.5px;
        }
    }
}

.p {
    font-family: "Outfit";
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #444444;
    margin-bottom: 56px;

    @media only screen and (min-width: 768px) {
        font-size: 18px;
        line-height: 28px;
        max-width: 340px;
        margin-bottom: 72px;
    }

    @media only screen and (min-width: 1200px) {
        max-width: 350px;
        font-size: 22px;
        line-height: 32px;
        margin-bottom: 88px;
    }
}
