.cta {
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 24px;

    @media only screen and (min-width: 768px) {
        max-width: 1200px;
        margin-bottom: revert;

        display: grid;
        grid-template-columns: 0.569fr 0.43fr;
        align-items: center;
    }

    @media only screen and (min-width: 1200px) {
        max-width: revert;
        grid-template-columns: 1fr 285px 540px 285px 1fr;
        grid-template-rows: 800px;
    }

    &__black {
        display: none;

        @media only screen and (min-width: 1200px) {
            display: block;
            width: 100%;
            height: 100%;
            background-color: #151515;
            grid-column: 1 / 2;
        }
    }

    &__logo {
        display: none;

        @media only screen and (min-width: 1200px) {
            display: block;
            width: 100%;
            height: 100%;
            background-color: #151515;
            grid-column: 2 / 3;
            position: relative;
            z-index: 5;
            overflow: hidden;
        }
    }

    &__img-wrapper {
        margin-bottom: 32px;

        @media only screen and (min-width: 768px) {
            grid-column: 1 / 2;
            margin-bottom: revert;
        }

        @media only screen and (min-width: 1200px) {
            grid-column: 3 / 4;
        }
    }

    &__img {
        display: block;
        width: 100%;
        margin: 0 auto;

        // @media only screen and (min-width: 768px) {
        // }

        // @media only screen and (min-width: 1200px) {
        // }
    }

    &__text {
        padding: 0 16px;

        @media only screen and (min-width: 768px) {
            padding: 0;
            margin-left: -48px;
        }

        @media only screen and (min-width: 1200px) {
            grid-column: 4 / 5;
            margin-left: -65px;
            position: relative;
        }
    }

    &__white {
        display: none;

        @media only screen and (min-width: 1200px) {
            display: block;
            width: 100%;
            height: 100%;
            background-color: #fff;
            grid-column: 5 / 6;
        }
    }
}

.h1 {
    font-family: "Big Shoulders Display";
    font-weight: 900;
    font-size: 60px;
    line-height: 55px;
    text-transform: uppercase;
    color: #151515;
    margin-bottom: 32px;

    span {
        display: block;
    }

    @media only screen and (min-width: 768px) {
        font-size: 70px;
        line-height: 65px;
        margin-bottom: 48px;
    }

    @media only screen and (min-width: 1200px) {
        font-size: 96px;
        line-height: 88px;
    }

    &--white {
        @media only screen and (min-width: 1200px) {
            display: block;
            color: #fff;
            width: 500px;
            margin-top: 189px;
        }
    }

    &--locate {
        @media only screen and (min-width: 1200px) {
            width: 500px;
            position: absolute;
            z-index: 2;

            top: -75px;
            left: -759.9px;
        }
    }
}

.p {
    font-family: "Outfit";
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #444444;
    margin-bottom: 56px;

    @media only screen and (min-width: 768px) {
        font-size: 18px;
        line-height: 28px;
        max-width: 340px;
        margin-bottom: 72px;
    }

    @media only screen and (min-width: 1200px) {
        max-width: 350px;
        font-size: 22px;
        line-height: 32px;
        margin-bottom: 88px;
    }
}

.btn,
.btn:link,
.btn:visited {
    position: relative;
    padding: 24px 35px 24px 48px;

    text-decoration: none;
    background-color: #151515;
    color: #fff;
    font-family: "Big Shoulders Display";
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 3.63636px;
    cursor: pointer;
}

.btn::before {
    content: url(./../assets/icon-arrow-right.svg);
    background: #d5966c;
    width: 56px;
    height: 72px;
    position: absolute;
    top: 0;
    right: -56px;

    display: flex;
    align-items: center;
    justify-content: center;
}
