.cta {
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 24px;

    @media only screen and (min-width: 768px) {
        max-width: 1200px;
        margin-bottom: revert;

        display: grid;
        grid-template-columns: 0.569fr 0.43fr;
        align-items: center;
    }

    @media only screen and (min-width: 1200px) {
        max-width: revert;
        grid-template-columns: 1fr 285px 540px 285px 1fr;
        grid-template-rows: 800px;
    }

    &__black {
        display: none;

        @media only screen and (min-width: 1200px) {
            display: block;
            width: 100%;
            height: 100%;
            background-color: #151515;
            grid-column: 1 / 2;
        }
    }

    &__logo {
        display: none;

        @media only screen and (min-width: 1200px) {
            display: block;
            width: 100%;
            height: 100%;
            background-color: #151515;
            grid-column: 2 / 3;
            position: relative;
            z-index: 5;
            overflow: hidden;
        }
    }

    &__img-wrapper {
        margin-bottom: 32px;

        @media only screen and (min-width: 768px) {
            grid-column: 1 / 2;
            margin-bottom: revert;
        }

        @media only screen and (min-width: 1200px) {
            grid-column: 3 / 4;
        }
    }

    &__img {
        display: block;
        width: 100%;
        margin: 0 auto;
    }

    &__text {
        padding: 0 16px;

        @media only screen and (min-width: 768px) {
            padding: 0;
            margin-left: -48px;
        }

        @media only screen and (min-width: 1200px) {
            grid-column: 4 / 5;
            margin-left: -65px;
            position: relative;
        }
    }

    &__white {
        display: none;

        @media only screen and (min-width: 1200px) {
            display: block;
            width: 100%;
            height: 100%;
            background-color: #fff;
            grid-column: 5 / 6;
        }
    }
}
