.gallery {
    max-width: 400px;
    margin: 0 auto 120px auto;
    padding: 0 16px;

    @media only screen and (min-width: 768px) {
        max-width: 930px;
        padding: 0 40px;
        margin-bottom: 100px;

        display: grid;
        justify-content: center;
        grid-template-columns: 0.575fr 0.4fr;
        gap: 11px;
    }

    @media only screen and (min-width: 1200px) {
        max-width: 1190px;
        margin-bottom: 160px;

        gap: 30px;
    }

    // // // // // // // // // // // // // // // // // // // //

    &__intro {
        margin-bottom: 32px;
        display: flex;
        flex-direction: column;

        @media only screen and (min-width: 768px) {
            margin-bottom: 0;

            display: grid;
            align-items: center;
            grid-template-columns: 0.427fr 0.573fr;

            grid-column: 1 / 3;
            grid-row: 1 / 2;

            margin-bottom: -4px;
        }

        &__img {
            width: 100%;
            margin-bottom: 25px;
            order: 1;

            @media only screen and (min-width: 768px) {
                order: revert;
                margin-bottom: 0;
            }
        }

        &__text-box {
            order: 2;

            @media only screen and (min-width: 768px) {
                order: revert;
                width: 76%;
            }
        }

        &__h2 {
            font-family: "Big Shoulders Display";
            font-weight: 900;
            font-size: 50px;
            line-height: 45px;
            text-transform: uppercase;
            color: #151515;
            margin-bottom: 21px;

            span {
                display: block;

                @media only screen and (min-width: 768px) {
                    display: revert;
                }
            }

            @media only screen and (min-width: 768px) {
                width: 210px;
                margin-bottom: 24px;
            }

            @media only screen and (min-width: 1200px) {
                font-size: 60px;
                line-height: 60px;

                width: 300px;
                margin-bottom: 32px;
            }
        }

        &__p {
            font-family: "Outfit";
            font-weight: 300;
            font-size: 18px;
            line-height: 28px;
            color: #444444;

            @media only screen and (min-width: 1200px) {
                font-size: 22px;
                line-height: 32px;
            }
        }
    }

    // // // // // // // // // // // // // // // // // // // //

    &__stool {
        &__wrapper {
            margin-bottom: 16px;

            @media only screen and (min-width: 768px) {
                grid-column: 1 / 2;
                grid-row: 2 / 3;
            }
        }

        &__img {
            width: 100%;
        }
    }

    // // // // // // // // // // // // // // // // // // // //

    &__invit {
        @media only screen and (min-width: 768px) {
            grid-column: 2 / 3;
            grid-row: 2 / 3;

            display: flex;
            flex-direction: column;

            margin-bottom: 20px;
        }

        @media only screen and (min-width: 1200px) {
        }

        &__img {
            width: 100%;
            margin-bottom: 16px;

            @media only screen and (min-width: 768px) {
                margin-bottom: 7px;
            }

            @media only screen and (min-width: 1200px) {
                margin-bottom: 26px;
            }
        }

        &__text-box {
            background-color: #151515;
            color: #fff;
            padding: 48px 24px 47px 24px;

            @media only screen and (min-width: 768px) {
                flex-grow: 1;
                padding: 85px 28px 85px 29px;

                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            @media only screen and (min-width: 1200px) {
                padding: 62px 42px 61px 42px;
            }
        }

        &__h2 {
            font-family: "Big Shoulders Display";
            font-weight: 900;
            font-size: 50px;
            line-height: 45px;
            text-transform: uppercase;
            margin-bottom: 24px;

            @media only screen and (min-width: 1200px) {
                font-size: 60px;
                line-height: 60px;
                margin-bottom: 32px;
            }
        }

        &__p {
            font-family: "Outfit";
            font-weight: 300;
            font-size: 18px;
            line-height: 28px;

            @media only screen and (min-width: 1200px) {
                font-size: 22px;
                line-height: 32px;
            }
        }
    }
}
