* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

button {
  font: inherit;
}

:root {
  --font-shoulders: "Big Shoulders Display", cursive;
  --font-outfit: "Outfit", sans-serif;
}

body {
  background-color: #fcfaf9;
}
@media only screen and (min-width: 768px) {
  body {
    background-color: #fff;
  }
}

.h1 {
  font-family: "Big Shoulders Display";
  font-weight: 900;
  font-size: 60px;
  line-height: 55px;
  text-transform: uppercase;
  color: #151515;
  margin-bottom: 32px;
}
.h1 span {
  display: block;
}
@media only screen and (min-width: 768px) {
  .h1 {
    font-size: 70px;
    line-height: 65px;
    margin-bottom: 48px;
  }
}
@media only screen and (min-width: 1200px) {
  .h1 {
    font-size: 96px;
    line-height: 88px;
  }
}
@media only screen and (min-width: 1200px) {
  .h1--white {
    display: block;
    color: #fff;
    width: 500px;
    margin-top: 189px;
  }
}
@media only screen and (min-width: 1200px) {
  .h1--locate {
    width: 500px;
    position: absolute;
    z-index: 2;
    top: -75px;
    left: -759.9px;
  }
}

.p {
  font-family: "Outfit";
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  color: #444444;
  margin-bottom: 56px;
}
@media only screen and (min-width: 768px) {
  .p {
    font-size: 18px;
    line-height: 28px;
    max-width: 340px;
    margin-bottom: 72px;
  }
}
@media only screen and (min-width: 1200px) {
  .p {
    max-width: 350px;
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 88px;
  }
}

.cta {
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 24px;
}
@media only screen and (min-width: 768px) {
  .cta {
    max-width: 1200px;
    margin-bottom: revert;
    display: grid;
    grid-template-columns: 0.569fr 0.43fr;
    align-items: center;
  }
}
@media only screen and (min-width: 1200px) {
  .cta {
    max-width: revert;
    grid-template-columns: 1fr 285px 540px 285px 1fr;
    grid-template-rows: 800px;
  }
}
.cta__black {
  display: none;
}
@media only screen and (min-width: 1200px) {
  .cta__black {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #151515;
    grid-column: 1/2;
  }
}
.cta__logo {
  display: none;
}
@media only screen and (min-width: 1200px) {
  .cta__logo {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #151515;
    grid-column: 2/3;
    position: relative;
    z-index: 5;
    overflow: hidden;
  }
}
.cta__img-wrapper {
  margin-bottom: 32px;
}
@media only screen and (min-width: 768px) {
  .cta__img-wrapper {
    grid-column: 1/2;
    margin-bottom: revert;
  }
}
@media only screen and (min-width: 1200px) {
  .cta__img-wrapper {
    grid-column: 3/4;
  }
}
.cta__img {
  display: block;
  width: 100%;
  margin: 0 auto;
}
.cta__text {
  padding: 0 16px;
}
@media only screen and (min-width: 768px) {
  .cta__text {
    padding: 0;
    margin-left: -48px;
  }
}
@media only screen and (min-width: 1200px) {
  .cta__text {
    grid-column: 4/5;
    margin-left: -65px;
    position: relative;
  }
}
.cta__white {
  display: none;
}
@media only screen and (min-width: 1200px) {
  .cta__white {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #fff;
    grid-column: 5/6;
  }
}

.btn,
.btn:link,
.btn:visited {
  position: relative;
  padding: 24px 35px 24px 48px;
  text-decoration: none;
  background-color: #151515;
  color: #fff;
  font-family: "Big Shoulders Display";
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 3.63636px;
  cursor: pointer;
  transition: color 0.15s, background-color 0.15s;
}
.btn::before,
.btn:link::before,
.btn:visited::before {
  content: url(./../assets/icon-arrow-right.svg);
  background-color: #d5966c;
  width: 56px;
  height: 72px;
  position: absolute;
  top: 0;
  right: -56px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.15s;
}
.btn:hover,
.btn:link:hover,
.btn:visited:hover {
  background-color: #d5966c;
  color: #ffffff;
}
.btn:hover::before,
.btn:link:hover::before,
.btn:visited:hover::before {
  background-color: #151515;
}

/*# sourceMappingURL=style.css.map */
