* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

button {
  font: inherit;
}

:root {
  --font-shoulders: "Big Shoulders Display", cursive;
  --font-outfit: "Outfit", sans-serif;
}

html {
  background-color: #151515;
}

body {
  background-color: #fcfaf9;
}
@media only screen and (min-width: 768px) {
  body {
    background-color: #fff;
  }
}

.h1 {
  font-family: "Big Shoulders Display";
  font-weight: 900;
  font-size: 60px;
  line-height: 55px;
  text-transform: uppercase;
  color: #151515;
  margin-bottom: 32px;
}
.h1 span {
  display: block;
}
@media only screen and (min-width: 768px) {
  .h1 {
    font-size: 70px;
    line-height: 65px;
    margin-bottom: 48px;
  }
}
@media only screen and (min-width: 1200px) {
  .h1 {
    font-size: 96px;
    line-height: 88px;
  }
}
@media only screen and (min-width: 1200px) {
  .h1--white {
    display: block;
    color: #fff;
    width: 500px;
    margin-top: 189px;
  }
}
@media only screen and (min-width: 1200px) {
  .h1--locate {
    width: 500px;
    position: absolute;
    z-index: 2;
    top: -75px;
    left: -759.5px;
  }
}

.p {
  font-family: "Outfit";
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  color: #444444;
  margin-bottom: 56px;
}
@media only screen and (min-width: 768px) {
  .p {
    font-size: 18px;
    line-height: 28px;
    max-width: 340px;
    margin-bottom: 72px;
  }
}
@media only screen and (min-width: 1200px) {
  .p {
    max-width: 350px;
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 88px;
  }
}

.btn,
.btn:link,
.btn:visited {
  position: relative;
  padding: 24px 35px 24px 48px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #151515;
  color: #fff;
  font-family: "Big Shoulders Display";
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 3.63636px;
  cursor: pointer;
  transition: color 0.15s, background-color 0.15s;
}
.btn::before,
.btn:link::before,
.btn:visited::before {
  content: url(./../assets/icon-arrow-right.svg);
  background-color: #d5966c;
  width: 56px;
  height: 72px;
  position: absolute;
  top: 0;
  right: -56px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.15s;
}
.btn:hover,
.btn:link:hover,
.btn:visited:hover {
  background-color: #d5966c;
  color: #ffffff;
}
.btn:hover::before,
.btn:link:hover::before,
.btn:visited:hover::before {
  background-color: #151515;
}

.cta {
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 144px;
}
@media only screen and (min-width: 650px) {
  .cta {
    max-width: 1200px;
    margin-bottom: 120px;
    display: grid;
    grid-template-columns: 0.569fr 0.43fr;
    align-items: center;
  }
}
@media only screen and (min-width: 1200px) {
  .cta {
    max-width: revert;
    grid-template-columns: 1fr 285px 540px 285px 1fr;
    grid-template-rows: 800px;
    margin-bottom: 180px;
  }
}
.cta__black {
  display: none;
}
@media only screen and (min-width: 1200px) {
  .cta__black {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #151515;
    grid-column: 1/2;
  }
}
.cta__logo {
  display: none;
}
@media only screen and (min-width: 1200px) {
  .cta__logo {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #151515;
    grid-column: 2/3;
    position: relative;
    z-index: 5;
    overflow: hidden;
  }
}
.cta__img-wrapper {
  margin-bottom: 32px;
}
@media only screen and (min-width: 650px) {
  .cta__img-wrapper {
    grid-column: 1/2;
    margin-bottom: revert;
  }
}
@media only screen and (min-width: 1200px) {
  .cta__img-wrapper {
    grid-column: 3/4;
  }
}
.cta__img {
  display: block;
  width: 100%;
  margin: 0 auto;
}
.cta__text {
  padding: 0 16px;
}
@media only screen and (min-width: 650px) {
  .cta__text {
    padding: 0;
    margin-left: -48px;
  }
}
@media only screen and (min-width: 1200px) {
  .cta__text {
    grid-column: 4/5;
    margin-left: -65px;
    position: relative;
  }
}
.cta__white {
  display: none;
}
@media only screen and (min-width: 1200px) {
  .cta__white {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #fff;
    grid-column: 5/6;
  }
}

.gallery {
  max-width: 400px;
  margin: 0 auto 120px auto;
  padding: 0 16px;
}
@media only screen and (min-width: 650px) {
  .gallery {
    max-width: 930px;
    padding: 0 40px;
    margin-bottom: 100px;
    display: grid;
    justify-content: center;
    grid-template-columns: 0.575fr 0.4fr;
    gap: 11px;
  }
}
@media only screen and (min-width: 1200px) {
  .gallery {
    max-width: 1190px;
    margin-bottom: 160px;
    gap: 30px;
  }
}
.gallery__intro {
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 650px) {
  .gallery__intro {
    margin-bottom: 0;
    display: grid;
    align-items: center;
    grid-template-columns: 0.427fr 0.573fr;
    grid-column: 1/3;
    grid-row: 1/2;
    margin-bottom: -4px;
  }
}
.gallery__intro__img {
  width: 100%;
  margin-bottom: 25px;
  order: 1;
}
@media only screen and (min-width: 650px) {
  .gallery__intro__img {
    order: revert;
    margin-bottom: 0;
  }
}
.gallery__intro__text-box {
  order: 2;
}
@media only screen and (min-width: 650px) {
  .gallery__intro__text-box {
    order: revert;
    width: 76%;
  }
}
.gallery__intro__h2 {
  font-family: "Big Shoulders Display";
  font-weight: 900;
  font-size: 50px;
  line-height: 45px;
  text-transform: uppercase;
  color: #151515;
  margin-bottom: 21px;
}
.gallery__intro__h2 span {
  display: block;
}
@media only screen and (min-width: 650px) {
  .gallery__intro__h2 span {
    display: revert;
  }
}
@media only screen and (min-width: 650px) {
  .gallery__intro__h2 {
    width: 210px;
    margin-bottom: 24px;
    font-size: 40px;
  }
}
@media only screen and (min-width: 768px) {
  .gallery__intro__h2 {
    font-size: 50px;
  }
}
@media only screen and (min-width: 1200px) {
  .gallery__intro__h2 {
    font-size: 60px;
    line-height: 60px;
    width: 300px;
    margin-bottom: 32px;
  }
}
.gallery__intro__p {
  font-family: "Outfit";
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  color: #444444;
}
@media only screen and (min-width: 650px) {
  .gallery__intro__p {
    font-size: 16px;
  }
}
@media only screen and (min-width: 768px) {
  .gallery__intro__p {
    font-size: 18px;
  }
}
@media only screen and (min-width: 1200px) {
  .gallery__intro__p {
    font-size: 22px;
    line-height: 32px;
  }
}
.gallery__stool__wrapper {
  margin-bottom: 16px;
}
@media only screen and (min-width: 650px) {
  .gallery__stool__wrapper {
    grid-column: 1/2;
    grid-row: 2/3;
  }
}
.gallery__stool__img {
  width: 100%;
}
@media only screen and (min-width: 650px) {
  .gallery__invit {
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
}
.gallery__invit__img {
  width: 100%;
  margin-bottom: 16px;
}
@media only screen and (min-width: 650px) {
  .gallery__invit__img {
    margin-bottom: 7px;
  }
}
@media only screen and (min-width: 1200px) {
  .gallery__invit__img {
    margin-bottom: 26px;
  }
}
.gallery__invit__text-box {
  background-color: #151515;
  color: #fff;
  padding: 48px 24px 47px 24px;
}
@media only screen and (min-width: 650px) {
  .gallery__invit__text-box {
    flex-grow: 1;
    padding: 48px 20px 48px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media only screen and (min-width: 768px) {
  .gallery__invit__text-box {
    padding: 85px 28px 85px 29px;
  }
}
@media only screen and (min-width: 1200px) {
  .gallery__invit__text-box {
    padding: 62px 42px 61px 42px;
  }
}
.gallery__invit__h2 {
  font-family: "Big Shoulders Display";
  font-weight: 900;
  font-size: 50px;
  line-height: 45px;
  text-transform: uppercase;
  margin-bottom: 24px;
}
@media only screen and (min-width: 650px) {
  .gallery__invit__h2 {
    font-size: 40px;
  }
}
@media only screen and (min-width: 768px) {
  .gallery__invit__h2 {
    font-size: 50px;
  }
}
@media only screen and (min-width: 1200px) {
  .gallery__invit__h2 {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 32px;
  }
}
.gallery__invit__p {
  font-family: "Outfit";
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
}
@media only screen and (min-width: 650px) {
  .gallery__invit__p {
    font-size: 16px;
  }
}
@media only screen and (min-width: 768px) {
  .gallery__invit__p {
    font-size: 18px;
  }
}
@media only screen and (min-width: 1200px) {
  .gallery__invit__p {
    font-size: 22px;
    line-height: 32px;
  }
}

.footer {
  background-color: #151515;
}
.footer__section {
  max-width: 410px;
  margin: 0 auto;
  padding: 48px 32px;
}
@media only screen and (min-width: 650px) {
  .footer__section {
    max-width: 920px;
    padding: 56px 40px;
    display: flex;
    align-items: flex-start;
  }
}
@media only screen and (min-width: 1200px) {
  .footer__section {
    padding: 80px 40px;
    max-width: 1190px;
  }
}
.footer__logo {
  margin-bottom: 38px;
}
@media only screen and (min-width: 650px) {
  .footer__logo {
    margin-bottom: 0;
    margin-right: 65px;
  }
}
@media only screen and (min-width: 1200px) {
  .footer__logo {
    width: 160px;
    margin-right: 140px;
  }
}
.footer__address {
  color: #fff;
  font-family: "Outfit";
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 38px;
}
@media only screen and (min-width: 650px) {
  .footer__address {
    margin-bottom: 0;
    width: 281px;
  }
}
@media only screen and (min-width: 1200px) {
  .footer__address {
    font-size: 18px;
    line-height: 28px;
    width: 430px;
  }
}
.footer ul {
  list-style: none;
  display: flex;
}
@media only screen and (min-width: 650px) {
  .footer ul {
    margin-left: auto;
  }
}
.footer li {
  cursor: pointer;
}
.footer__icon {
  transition: fill 0.15s;
}
li:hover .footer__icon {
  fill: #d5966c;
}
.footer li:not(:last-child) {
  margin-right: 20px;
}
.footer svg:hover {
  fill: red;
}

.main-location {
  position: relative;
  background-color: #151515;
}

#map {
  width: 100%;
  height: 550px;
}
@media only screen and (min-width: 650px) {
  #map {
    height: 600px;
  }
}

.leaflet-control-container {
  display: none;
}

.btn-map,
.btn-map:link,
.btn-map:visited {
  display: inline-block;
  position: absolute;
  z-index: 99999;
  top: 0;
  left: 56px;
  padding: 24px 35px 24px 32px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #151515;
  color: #fff;
  font-family: "Big Shoulders Display";
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 3.63636px;
  cursor: pointer;
  transition: color 0.15s, background-color 0.15s;
}
@media only screen and (min-width: 650px) {
  .btn-map,
  .btn-map:link,
  .btn-map:visited {
    left: 95px;
  }
}
@media only screen and (min-width: 1200px) {
  .btn-map,
  .btn-map:link,
  .btn-map:visited {
    left: 156px;
  }
}
.btn-map:hover,
.btn-map:link:hover,
.btn-map:visited:hover {
  background-color: #d5966c;
  color: #ffffff;
}
.btn-map:hover::before,
.btn-map:link:hover::before,
.btn-map:visited:hover::before {
  background-color: #151515;
}
.btn-map::before,
.btn-map:link::before,
.btn-map:visited::before {
  content: url(./../assets/icon-arrow-left.svg);
  background-color: #d5966c;
  width: 56px;
  height: 72px;
  transition: background-color 0.15s;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: -56px;
}

.loc {
  max-width: 378px;
  margin: 0 auto;
  padding: 48px 16px 56px 16px;
  color: #fff;
}
@media only screen and (min-width: 650px) {
  .loc {
    max-width: 920px;
    padding: 88px 40px 80px 40px;
    display: flex;
  }
}
@media only screen and (min-width: 1200px) {
  .loc {
    max-width: 1110px;
    padding: 104px 40px 128px 40px;
  }
}
.loc__h1-wrapper {
  margin-bottom: 48px;
}
@media only screen and (min-width: 650px) {
  .loc__h1-wrapper {
    width: 223px;
    margin-right: 68px;
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 1200px) {
  .loc__h1-wrapper {
    width: 350px;
    margin-right: 220px;
  }
}
.loc__h1 {
  font-family: "Big Shoulders Display";
  font-weight: 900;
  font-size: 50px;
  line-height: 45px;
  text-transform: uppercase;
}
@media only screen and (min-width: 650px) {
  .loc__h1 {
    font-size: 55px;
    line-height: 50px;
  }
}
@media only screen and (min-width: 1200px) {
  .loc__h1 {
    font-size: 70px;
    line-height: 70px;
  }
}
.loc__text-box {
  font-family: "Outfit";
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
}
@media only screen and (min-width: 1200px) {
  .loc__text-box {
    font-size: 22px;
    line-height: 32px;
  }
}
.loc__h2 {
  font-family: "Big Shoulders Display";
  text-transform: uppercase;
  font-weight: 900;
  font-size: 32px;
  line-height: 32px;
  color: #d5966c;
  margin-bottom: 20px;
}
@media only screen and (min-width: 1200px) {
  .loc__h2 {
    margin-bottom: 24px;
    font-size: 36px;
    line-height: 36px;
  }
}
@media only screen and (min-width: 1200px) {
  .loc__p {
    width: 540px;
  }
}
.loc ul {
  list-style: none;
  margin-bottom: 20px;
}
@media only screen and (min-width: 1200px) {
  .loc ul {
    margin-bottom: 32px;
  }
}

/*# sourceMappingURL=style.css.map */
